// secrets.h
#ifndef SECRETS_H
#define SECRETS_H

#define MQTT_USERNAME "splashflag"
#define MQTT_PASSWORD ""
#define MQTT_BROKER_URL ""

// used for over the air firmware updates. 
// you will need to host in your own repo since releases contain embedded secrets and my release repo is private.
#define FIRMWARE_VERSION "0.1.0"
#define GITHUB_OWNER "bertwagner"
#define GITHUB_REPO "splashflag-releases"
#define GITHUB_API_URL "api.github.com"
#define GITHUB_RELEASES_PATH "/repos/bertwagner/splashflag-releases/releases/latest"
// Personal Access Token with Contents Read access to the releases repo
#define GITHUB_TOKEN ""


// MAC address of devices you want to enable debug mode on
#define DEBUG_DEVICE_MAC_1 "" 

#endif
