// secrets.h
#ifndef SECRETS_H
#define SECRETS_H

#define MQTT_USERNAME "splashflag"
#define MQTT_PASSWORD ""
#define MQTT_BROKER_URL ""

// used for over the air firmware updates
#define FIRMWARE_VERSION "0.1.0"
#define GITHUB_OWNER "bertwagner"
#define GITHUB_REPO "splashflag"
#define GITHUB_API_URL "api.github.com"
#define GITHUB_RELEASES_PATH "/repos/bertwagner/splashflag/releases/latest"

#endif